In [1]:
import pandas as pd
import matplotlib.pyplot as plt
dataframe = pd.read_csv('Height of Male and Female by Country 2022.csv', usecols=['Country Name', 'Male Height in Cm', 'Female Height in Cm'])
dataframe = dataframe.rename(columns={'Male Height in Cm':'Male', 'Female Height in Cm':'Female'})
dataframe

               Country Name    Male  Female
0               Netherlands  183.78  170.36
1                Montenegro  183.30  169.96
2                   Estonia  182.79  168.66
3    Bosnia and Herzegovina  182.47  167.47
4                   Iceland  182.10  168.91
..                      ...     ...     ...
194              Mozambique  164.30  155.42
195        Papua New Guinea  163.10  156.89
196         Solomon Islands  163.07  156.79
197                    Laos  162.78  153.10
198             Timor-Leste  160.13  152.71

[199 rows x 3 columns]

In [16]:
print(min(dataframe['Male']),max(dataframe['Male']))

Frequency = dict()

for i in range(round(min(dataframe['Male'])-0.5),round(max(dataframe['Male'])+0.5)):
    Frequency[str(round(i-0.5))+'-'+str(round(i+0.5))]=0
Frequency

160.13 183.78

{'160-160': 0,
 '160-162': 0,
 '162-162': 0,
 '162-164': 0,
 '164-164': 0,
 '164-166': 0,
 '166-166': 0,
 '166-168': 0,
 '168-168': 0,
 '168-170': 0,
 '170-170': 0,
 '170-172': 0,
 '172-172': 0,
 '172-174': 0,
 '174-174': 0,
 '174-176': 0,
 '176-176': 0,
 '176-178': 0,
 '178-178': 0,
 '178-180': 0,
 '180-180': 0,
 '180-182': 0,
 '182-182': 0,
 '182-184': 0}

In [17]:
for i in dataframe['Male']:
        Frequency[str(round(i-0.5))+'-'+str(round(i+0.5))] +=1

KeyError: '183-184'